In [112]:
import pandas as pd
import numpy as np
import os
import re

In [6]:
movies_df = pd.read_csv(os.path.join('data','movies_final'))

In [7]:
movies_df.count()

Unnamed: 0                      1550
Unnamed: 0.1                    1550
Title                           1550
Duration(Min)                   1283
ReleaseDate                     1426
Score                           1142
NoUsersRating                   1142
MetaScore                         75
NoReviews-Users                  850
NoReviews-Crit                   741
OpeningWE(USA)($)                187
Gross(USA)($)                    206
CumulativeWorldWide Gross($)     138
dtype: int64

In [8]:
movies_df_clean = movies_df[np.isfinite(movies_df['Gross(USA)($)'])]

In [9]:
movies_df_clean.count()

Unnamed: 0                      206
Unnamed: 0.1                    206
Title                           206
Duration(Min)                   206
ReleaseDate                     206
Score                           206
NoUsersRating                   206
MetaScore                        72
NoReviews-Users                 206
NoReviews-Crit                  206
OpeningWE(USA)($)               185
Gross(USA)($)                   206
CumulativeWorldWide Gross($)    126
dtype: int64

In [10]:
movies_df_clean.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Unnamed: 0.1</th>
      <th>Title</th>
      <th>Duration(Min)</th>
      <th>ReleaseDate</th>
      <th>Score</th>
      <th>NoUsersRating</th>
      <th>MetaScore</th>
      <th>NoReviews-Users</th>
      <th>NoReviews-Crit</th>
      <th>OpeningWE(USA)($)</th>
      <th>Gross(USA)($)</th>
      <th>CumulativeWorldWide Gross($)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>264</th>
      <td>264</td>
      <td>265</td>
      <td>Superman (1978)</td>
      <td>143.0</td>
      <td>1978-12-15</td>
      <td>0.73</td>
      <td>140117.0</td>
      <td>86.0</td>
      <td>517.0</td>
      <td>176.0</td>
      <td>7465343.0</td>
      <td>134218018.0</td>
      <td>166200000.0</td>
    </tr>
    <tr>
      <th>279</th>
      <td>279</td>
      <td>280</td>
      <td>Hero at Large (1980)</td>
      <td>98.0</td>
      <td>1980-02-08</td>
      <td>0.61</td>
      <td>1139.0</td>
      <td>NaN</td>
      <td>16.0</td>
      <td>10.0</td>
      <td>NaN</td>
      <td>15934737.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>283</th>
      <td>283</td>
      <td>284</td>
      <td>Flash Gordon (1980)</td>
      <td>111.0</td>
      <td>1980-12-05</td>
      <td>0.65</td>
      <td>42635.0</td>
      <td>NaN</td>
      <td>260.0</td>
      <td>106.0</td>
      <td>3934030.0</td>
      <td>27107960.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>284</th>
      <td>284</td>
      <td>285</td>
      <td>Superman II (1980)</td>
      <td>127.0</td>
      <td>1981-06-19</td>
      <td>0.68</td>
      <td>85553.0</td>
      <td>87.0</td>
      <td>277.0</td>
      <td>127.0</td>
      <td>14100523.0</td>
      <td>108185706.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>287</th>
      <td>287</td>
      <td>288</td>
      <td>The Legend of the Lone Ranger (1981)</td>
      <td>98.0</td>
      <td>1981-05-22</td>
      <td>0.50</td>
      <td>1538.0</td>
      <td>NaN</td>
      <td>43.0</td>
      <td>28.0</td>
      <td>2945600.0</td>
      <td>12617845.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
movies_df_clean['MetaScore'].fillna(movies_df_clean['MetaScore'].median(),inplace=True)
movies_df_clean.head()

/home/filippo/anaconda3/envs/3_6_data_science/lib/python3.6/site-packages/pandas/core/generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Unnamed: 0.1</th>
      <th>Title</th>
      <th>Duration(Min)</th>
      <th>ReleaseDate</th>
      <th>Score</th>
      <th>NoUsersRating</th>
      <th>MetaScore</th>
      <th>NoReviews-Users</th>
      <th>NoReviews-Crit</th>
      <th>OpeningWE(USA)($)</th>
      <th>Gross(USA)($)</th>
      <th>CumulativeWorldWide Gross($)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>264</th>
      <td>264</td>
      <td>265</td>
      <td>Superman (1978)</td>
      <td>143.0</td>
      <td>1978-12-15</td>
      <td>0.73</td>
      <td>140117.0</td>
      <td>86.0</td>
      <td>517.0</td>
      <td>176.0</td>
      <td>7465343.0</td>
      <td>134218018.0</td>
      <td>166200000.0</td>
    </tr>
    <tr>
      <th>279</th>
      <td>279</td>
      <td>280</td>
      <td>Hero at Large (1980)</td>
      <td>98.0</td>
      <td>1980-02-08</td>
      <td>0.61</td>
      <td>1139.0</td>
      <td>68.5</td>
      <td>16.0</td>
      <td>10.0</td>
      <td>NaN</td>
      <td>15934737.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>283</th>
      <td>283</td>
      <td>284</td>
      <td>Flash Gordon (1980)</td>
      <td>111.0</td>
      <td>1980-12-05</td>
      <td>0.65</td>
      <td>42635.0</td>
      <td>68.5</td>
      <td>260.0</td>
      <td>106.0</td>
      <td>3934030.0</td>
      <td>27107960.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>284</th>
      <td>284</td>
      <td>285</td>
      <td>Superman II (1980)</td>
      <td>127.0</td>
      <td>1981-06-19</td>
      <td>0.68</td>
      <td>85553.0</td>
      <td>87.0</td>
      <td>277.0</td>
      <td>127.0</td>
      <td>14100523.0</td>
      <td>108185706.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>287</th>
      <td>287</td>
      <td>288</td>
      <td>The Legend of the Lone Ranger (1981)</td>
      <td>98.0</td>
      <td>1981-05-22</td>
      <td>0.50</td>
      <td>1538.0</td>
      <td>68.5</td>
      <td>43.0</td>
      <td>28.0</td>
      <td>2945600.0</td>
      <td>12617845.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
movies_df_clean.count()

Unnamed: 0                      206
Unnamed: 0.1                    206
Title                           206
Duration(Min)                   206
ReleaseDate                     206
Score                           206
NoUsersRating                   206
MetaScore                       206
NoReviews-Users                 206
NoReviews-Crit                  206
OpeningWE(USA)($)               185
Gross(USA)($)                   206
CumulativeWorldWide Gross($)    126
dtype: int64

In [14]:
movies_df_clean['OpeningWE(USA)($)'].fillna(movies_df_clean['OpeningWE(USA)($)'].median(),inplace=True)

/home/filippo/anaconda3/envs/3_6_data_science/lib/python3.6/site-packages/pandas/core/generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [15]:
movies_df_clean.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Unnamed: 0.1</th>
      <th>Title</th>
      <th>Duration(Min)</th>
      <th>ReleaseDate</th>
      <th>Score</th>
      <th>NoUsersRating</th>
      <th>MetaScore</th>
      <th>NoReviews-Users</th>
      <th>NoReviews-Crit</th>
      <th>OpeningWE(USA)($)</th>
      <th>Gross(USA)($)</th>
      <th>CumulativeWorldWide Gross($)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>264</th>
      <td>264</td>
      <td>265</td>
      <td>Superman (1978)</td>
      <td>143.0</td>
      <td>1978-12-15</td>
      <td>0.73</td>
      <td>140117.0</td>
      <td>86.0</td>
      <td>517.0</td>
      <td>176.0</td>
      <td>7465343.0</td>
      <td>134218018.0</td>
      <td>166200000.0</td>
    </tr>
    <tr>
      <th>279</th>
      <td>279</td>
      <td>280</td>
      <td>Hero at Large (1980)</td>
      <td>98.0</td>
      <td>1980-02-08</td>
      <td>0.61</td>
      <td>1139.0</td>
      <td>68.5</td>
      <td>16.0</td>
      <td>10.0</td>
      <td>19828687.0</td>
      <td>15934737.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>283</th>
      <td>283</td>
      <td>284</td>
      <td>Flash Gordon (1980)</td>
      <td>111.0</td>
      <td>1980-12-05</td>
      <td>0.65</td>
      <td>42635.0</td>
      <td>68.5</td>
      <td>260.0</td>
      <td>106.0</td>
      <td>3934030.0</td>
      <td>27107960.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>284</th>
      <td>284</td>
      <td>285</td>
      <td>Superman II (1980)</td>
      <td>127.0</td>
      <td>1981-06-19</td>
      <td>0.68</td>
      <td>85553.0</td>
      <td>87.0</td>
      <td>277.0</td>
      <td>127.0</td>
      <td>14100523.0</td>
      <td>108185706.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>287</th>
      <td>287</td>
      <td>288</td>
      <td>The Legend of the Lone Ranger (1981)</td>
      <td>98.0</td>
      <td>1981-05-22</td>
      <td>0.50</td>
      <td>1538.0</td>
      <td>68.5</td>
      <td>43.0</td>
      <td>28.0</td>
      <td>2945600.0</td>
      <td>12617845.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
movies_df_clean['CumulativeWorldWide Gross($)'].fillna(movies_df_clean['Gross(USA)($)'], inplace=True)

In [17]:
movies_df_clean.count()

Unnamed: 0                      206
Unnamed: 0.1                    206
Title                           206
Duration(Min)                   206
ReleaseDate                     206
Score                           206
NoUsersRating                   206
MetaScore                       206
NoReviews-Users                 206
NoReviews-Crit                  206
OpeningWE(USA)($)               206
Gross(USA)($)                   206
CumulativeWorldWide Gross($)    206
dtype: int64

In [21]:
movies_df_clean = movies_df_clean[['Title','Duration(Min)','ReleaseDate','Score','NoUsersRating','MetaScore',
'NoReviews-Users','NoReviews-Crit','OpeningWE(USA)($)','Gross(USA)($)','CumulativeWorldWide Gross($)']]

In [22]:
movies_df_clean.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Title</th>
      <th>Duration(Min)</th>
      <th>ReleaseDate</th>
      <th>Score</th>
      <th>NoUsersRating</th>
      <th>MetaScore</th>
      <th>NoReviews-Users</th>
      <th>NoReviews-Crit</th>
      <th>OpeningWE(USA)($)</th>
      <th>Gross(USA)($)</th>
      <th>CumulativeWorldWide Gross($)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>264</th>
      <td>Superman (1978)</td>
      <td>143.0</td>
      <td>1978-12-15</td>
      <td>0.73</td>
      <td>140117.0</td>
      <td>86.0</td>
      <td>517.0</td>
      <td>176.0</td>
      <td>7465343.0</td>
      <td>134218018.0</td>
      <td>166200000.0</td>
    </tr>
    <tr>
      <th>279</th>
      <td>Hero at Large (1980)</td>
      <td>98.0</td>
      <td>1980-02-08</td>
      <td>0.61</td>
      <td>1139.0</td>
      <td>68.5</td>
      <td>16.0</td>
      <td>10.0</td>
      <td>19828687.0</td>
      <td>15934737.0</td>
      <td>15934737.0</td>
    </tr>
    <tr>
      <th>283</th>
      <td>Flash Gordon (1980)</td>
      <td>111.0</td>
      <td>1980-12-05</td>
      <td>0.65</td>
      <td>42635.0</td>
      <td>68.5</td>
      <td>260.0</td>
      <td>106.0</td>
      <td>3934030.0</td>
      <td>27107960.0</td>
      <td>27107960.0</td>
    </tr>
    <tr>
      <th>284</th>
      <td>Superman II (1980)</td>
      <td>127.0</td>
      <td>1981-06-19</td>
      <td>0.68</td>
      <td>85553.0</td>
      <td>87.0</td>
      <td>277.0</td>
      <td>127.0</td>
      <td>14100523.0</td>
      <td>108185706.0</td>
      <td>108185706.0</td>
    </tr>
    <tr>
      <th>287</th>
      <td>The Legend of the Lone Ranger (1981)</td>
      <td>98.0</td>
      <td>1981-05-22</td>
      <td>0.50</td>
      <td>1538.0</td>
      <td>68.5</td>
      <td>43.0</td>
      <td>28.0</td>
      <td>2945600.0</td>
      <td>12617845.0</td>
      <td>12617845.0</td>
    </tr>
  </tbody>
</table>
</div>

In [101]:
movies_df_clean.sort_values('ReleaseDate')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Title</th>
      <th>Duration(Min)</th>
      <th>ReleaseDate</th>
      <th>Score</th>
      <th>NoUsersRating</th>
      <th>MetaScore</th>
      <th>NoReviews-Users</th>
      <th>NoReviews-Crit</th>
      <th>OpeningWE(USA)($)</th>
      <th>Gross(USA)($)</th>
      <th>CumulativeWorldWide Gross($)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>264</th>
      <td>Superman (1978)</td>
      <td>143.0</td>
      <td>1978-12-15</td>
      <td>0.73</td>
      <td>140117.0</td>
      <td>86.0</td>
      <td>517.0</td>
      <td>176.0</td>
      <td>7465343.0</td>
      <td>134218018.0</td>
      <td>1.662000e+08</td>
    </tr>
    <tr>
      <th>279</th>
      <td>Hero at Large (1980)</td>
      <td>98.0</td>
      <td>1980-02-08</td>
      <td>0.61</td>
      <td>1139.0</td>
      <td>68.5</td>
      <td>16.0</td>
      <td>10.0</td>
      <td>19828687.0</td>
      <td>15934737.0</td>
      <td>1.593474e+07</td>
    </tr>
    <tr>
      <th>1546</th>
      <td>Flash Gordon (1980)</td>
      <td>111.0</td>
      <td>1980-12-05</td>
      <td>0.65</td>
      <td>42635.0</td>
      <td>68.5</td>
      <td>260.0</td>
      <td>106.0</td>
      <td>3934030.0</td>
      <td>27107960.0</td>
      <td>2.710796e+07</td>
    </tr>
    <tr>
      <th>283</th>
      <td>Flash Gordon (1980)</td>
      <td>111.0</td>
      <td>1980-12-05</td>
      <td>0.65</td>
      <td>42635.0</td>
      <td>68.5</td>
      <td>260.0</td>
      <td>106.0</td>
      <td>3934030.0</td>
      <td>27107960.0</td>
      <td>2.710796e+07</td>
    </tr>
    <tr>
      <th>287</th>
      <td>The Legend of the Lone Ranger (1981)</td>
      <td>98.0</td>
      <td>1981-05-22</td>
      <td>0.50</td>
      <td>1538.0</td>
      <td>68.5</td>
      <td>43.0</td>
      <td>28.0</td>
      <td>2945600.0</td>
      <td>12617845.0</td>
      <td>1.261784e+07</td>
    </tr>
    <tr>
      <th>1542</th>
      <td>The Legend of the Lone Ranger (1981)</td>
      <td>98.0</td>
      <td>1981-05-22</td>
      <td>0.50</td>
      <td>1538.0</td>
      <td>68.5</td>
      <td>43.0</td>
      <td>28.0</td>
      <td>2945600.0</td>
      <td>12617845.0</td>
      <td>1.261784e+07</td>
    </tr>
    <tr>
      <th>284</th>
      <td>Superman II (1980)</td>
      <td>127.0</td>
      <td>1981-06-19</td>
      <td>0.68</td>
      <td>85553.0</td>
      <td>87.0</td>
      <td>277.0</td>
      <td>127.0</td>
      <td>14100523.0</td>
      <td>108185706.0</td>
      <td>1.081857e+08</td>
    </tr>
    <tr>
      <th>1545</th>
      <td>Superman II (1980)</td>
      <td>127.0</td>
      <td>1981-06-19</td>
      <td>0.68</td>
      <td>85554.0</td>
      <td>87.0</td>
      <td>277.0</td>
      <td>127.0</td>
      <td>14100523.0</td>
      <td>108185706.0</td>
      <td>1.081857e+08</td>
    </tr>
    <tr>
      <th>1540</th>
      <td>Zorro: The Gay Blade (1981)</td>
      <td>93.0</td>
      <td>1981-07-17</td>
      <td>0.61</td>
      <td>3540.0</td>
      <td>68.5</td>
      <td>51.0</td>
      <td>14.0</td>
      <td>19828687.0</td>
      <td>11118000.0</td>
      <td>1.111800e+07</td>
    </tr>
    <tr>
      <th>289</th>
      <td>Zorro: The Gay Blade (1981)</td>
      <td>93.0</td>
      <td>1981-07-17</td>
      <td>0.61</td>
      <td>3540.0</td>
      <td>68.5</td>
      <td>51.0</td>
      <td>14.0</td>
      <td>19828687.0</td>
      <td>11118000.0</td>
      <td>1.111800e+07</td>
    </tr>
    <tr>
      <th>1537</th>
      <td>TRON (1982)</td>
      <td>96.0</td>
      <td>1982-07-09</td>
      <td>0.68</td>
      <td>101828.0</td>
      <td>68.5</td>
      <td>282.0</td>
      <td>161.0</td>
      <td>4761795.0</td>
      <td>33000000.0</td>
      <td>3.300000e+07</td>
    </tr>
    <tr>
      <th>292</th>
      <td>TRON (1982)</td>
      <td>96.0</td>
      <td>1982-07-09</td>
      <td>0.68</td>
      <td>101828.0</td>
      <td>68.5</td>
      <td>282.0</td>
      <td>161.0</td>
      <td>4761795.0</td>
      <td>33000000.0</td>
      <td>3.300000e+07</td>
    </tr>
    <tr>
      <th>1531</th>
      <td>Superman III (1983)</td>
      <td>125.0</td>
      <td>1983-06-17</td>
      <td>0.49</td>
      <td>56038.0</td>
      <td>68.5</td>
      <td>237.0</td>
      <td>101.0</td>
      <td>13352357.0</td>
      <td>59950623.0</td>
      <td>5.995062e+07</td>
    </tr>
    <tr>
      <th>298</th>
      <td>Superman III (1983)</td>
      <td>125.0</td>
      <td>1983-06-17</td>
      <td>0.49</td>
      <td>56038.0</td>
      <td>68.5</td>
      <td>237.0</td>
      <td>101.0</td>
      <td>13352357.0</td>
      <td>59950623.0</td>
      <td>5.995062e+07</td>
    </tr>
    <tr>
      <th>1521</th>
      <td>The Adventures of the American Rabbit (1986)</td>
      <td>85.0</td>
      <td>1986-01-17</td>
      <td>0.58</td>
      <td>342.0</td>
      <td>68.5</td>
      <td>12.0</td>
      <td>5.0</td>
      <td>291126.0</td>
      <td>1268443.0</td>
      <td>1.268443e+06</td>
    </tr>
    <tr>
      <th>308</th>
      <td>The Adventures of the American Rabbit (1986)</td>
      <td>85.0</td>
      <td>1986-01-17</td>
      <td>0.58</td>
      <td>342.0</td>
      <td>68.5</td>
      <td>12.0</td>
      <td>5.0</td>
      <td>291126.0</td>
      <td>1268443.0</td>
      <td>1.268443e+06</td>
    </tr>
    <tr>
      <th>1518</th>
      <td>Howard the Duck (1986)</td>
      <td>110.0</td>
      <td>1986-08-01</td>
      <td>0.46</td>
      <td>37393.0</td>
      <td>68.5</td>
      <td>286.0</td>
      <td>81.0</td>
      <td>5070136.0</td>
      <td>16295774.0</td>
      <td>2.166700e+07</td>
    </tr>
    <tr>
      <th>311</th>
      <td>Howard the Duck (1986)</td>
      <td>110.0</td>
      <td>1986-08-01</td>
      <td>0.46</td>
      <td>37393.0</td>
      <td>68.5</td>
      <td>286.0</td>
      <td>81.0</td>
      <td>5070136.0</td>
      <td>16295774.0</td>
      <td>2.166700e+07</td>
    </tr>
    <tr>
      <th>1508</th>
      <td>RoboCop (1987)</td>
      <td>102.0</td>
      <td>1987-07-17</td>
      <td>0.75</td>
      <td>202542.0</td>
      <td>67.0</td>
      <td>469.0</td>
      <td>264.0</td>
      <td>8008721.0</td>
      <td>53424681.0</td>
      <td>5.342468e+07</td>
    </tr>
    <tr>
      <th>319</th>
      <td>RoboCop (1987)</td>
      <td>102.0</td>
      <td>1987-07-17</td>
      <td>0.75</td>
      <td>202542.0</td>
      <td>67.0</td>
      <td>469.0</td>
      <td>264.0</td>
      <td>8008721.0</td>
      <td>53424681.0</td>
      <td>5.342468e+07</td>
    </tr>
    <tr>
      <th>1507</th>
      <td>Superman IV: The Quest for Peace (1987)</td>
      <td>90.0</td>
      <td>1987-07-24</td>
      <td>0.37</td>
      <td>36975.0</td>
      <td>68.5</td>
      <td>273.0</td>
      <td>100.0</td>
      <td>19828687.0</td>
      <td>15681020.0</td>
      <td>1.568102e+07</td>
    </tr>
    <tr>
      <th>322</th>
      <td>Superman IV: The Quest for Peace (1987)</td>
      <td>90.0</td>
      <td>1987-07-24</td>
      <td>0.37</td>
      <td>36975.0</td>
      <td>68.5</td>
      <td>273.0</td>
      <td>100.0</td>
      <td>19828687.0</td>
      <td>15681020.0</td>
      <td>1.568102e+07</td>
    </tr>
    <tr>
      <th>343</th>
      <td>The Toxic Avenger Part II (1989)</td>
      <td>102.0</td>
      <td>1989-02-24</td>
      <td>0.51</td>
      <td>5227.0</td>
      <td>68.5</td>
      <td>45.0</td>
      <td>37.0</td>
      <td>28950.0</td>
      <td>792966.0</td>
      <td>7.929660e+05</td>
    </tr>
    <tr>
      <th>1486</th>
      <td>The Toxic Avenger Part II (1989)</td>
      <td>102.0</td>
      <td>1989-02-24</td>
      <td>0.51</td>
      <td>5227.0</td>
      <td>68.5</td>
      <td>45.0</td>
      <td>37.0</td>
      <td>28950.0</td>
      <td>792966.0</td>
      <td>7.929660e+05</td>
    </tr>
    <tr>
      <th>346</th>
      <td>The Return of Swamp Thing (1989)</td>
      <td>88.0</td>
      <td>1989-05-12</td>
      <td>0.45</td>
      <td>3183.0</td>
      <td>68.5</td>
      <td>42.0</td>
      <td>27.0</td>
      <td>19828687.0</td>
      <td>192816.0</td>
      <td>1.928160e+05</td>
    </tr>
    <tr>
      <th>1483</th>
      <td>The Return of Swamp Thing (1989)</td>
      <td>88.0</td>
      <td>1989-05-12</td>
      <td>0.45</td>
      <td>3183.0</td>
      <td>68.5</td>
      <td>42.0</td>
      <td>27.0</td>
      <td>19828687.0</td>
      <td>192816.0</td>
      <td>1.928160e+05</td>
    </tr>
    <tr>
      <th>1482</th>
      <td>Batman (1989)</td>
      <td>126.0</td>
      <td>1989-06-23</td>
      <td>0.76</td>
      <td>297398.0</td>
      <td>69.0</td>
      <td>859.0</td>
      <td>188.0</td>
      <td>40489746.0</td>
      <td>251188924.0</td>
      <td>4.113489e+08</td>
    </tr>
    <tr>
      <th>347</th>
      <td>Batman (1989)</td>
      <td>126.0</td>
      <td>1989-06-23</td>
      <td>0.76</td>
      <td>297397.0</td>
      <td>69.0</td>
      <td>859.0</td>
      <td>188.0</td>
      <td>40489746.0</td>
      <td>251188924.0</td>
      <td>4.113489e+08</td>
    </tr>
    <tr>
      <th>1475</th>
      <td>The Toxic Avenger Part III: The Last Temptatio...</td>
      <td>102.0</td>
      <td>1989-11-24</td>
      <td>0.44</td>
      <td>3660.0</td>
      <td>68.5</td>
      <td>33.0</td>
      <td>29.0</td>
      <td>52080.0</td>
      <td>363561.0</td>
      <td>3.635610e+05</td>
    </tr>
    <tr>
      <th>354</th>
      <td>The Toxic Avenger Part III: The Last Temptatio...</td>
      <td>102.0</td>
      <td>1989-11-24</td>
      <td>0.44</td>
      <td>3660.0</td>
      <td>68.5</td>
      <td>33.0</td>
      <td>29.0</td>
      <td>52080.0</td>
      <td>363561.0</td>
      <td>3.635610e+05</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>721</th>
      <td>Big Hero 6 (2014)</td>
      <td>102.0</td>
      <td>2014-11-07</td>
      <td>0.78</td>
      <td>335828.0</td>
      <td>74.0</td>
      <td>462.0</td>
      <td>396.0</td>
      <td>56215889.0</td>
      <td>222527828.0</td>
      <td>6.578278e+08</td>
    </tr>
    <tr>
      <th>726</th>
      <td>Birdman or (The Unexpected Virtue of Ignorance...</td>
      <td>119.0</td>
      <td>2014-11-14</td>
      <td>0.77</td>
      <td>478564.0</td>
      <td>88.0</td>
      <td>1185.0</td>
      <td>605.0</td>
      <td>424397.0</td>
      <td>42340598.0</td>
      <td>1.032151e+08</td>
    </tr>
    <tr>
      <th>701</th>
      <td>The SpongeBob Movie: Sponge Out of Water (2015)</td>
      <td>92.0</td>
      <td>2015-02-06</td>
      <td>0.60</td>
      <td>40250.0</td>
      <td>62.0</td>
      <td>156.0</td>
      <td>149.0</td>
      <td>55365012.0</td>
      <td>162994032.0</td>
      <td>3.234365e+08</td>
    </tr>
    <tr>
      <th>688</th>
      <td>Avengers: Age of Ultron (2015)</td>
      <td>141.0</td>
      <td>2015-05-01</td>
      <td>0.74</td>
      <td>571716.0</td>
      <td>66.0</td>
      <td>1154.0</td>
      <td>662.0</td>
      <td>191271109.0</td>
      <td>459005868.0</td>
      <td>1.405414e+09</td>
    </tr>
    <tr>
      <th>677</th>
      <td>Ant-Man (2015)</td>
      <td>117.0</td>
      <td>2015-07-17</td>
      <td>0.73</td>
      <td>419797.0</td>
      <td>64.0</td>
      <td>595.0</td>
      <td>540.0</td>
      <td>57225526.0</td>
      <td>180202163.0</td>
      <td>5.194452e+08</td>
    </tr>
    <tr>
      <th>672</th>
      <td>Fantastic Four (2015)</td>
      <td>100.0</td>
      <td>2015-08-07</td>
      <td>0.43</td>
      <td>131423.0</td>
      <td>68.5</td>
      <td>757.0</td>
      <td>404.0</td>
      <td>25685737.0</td>
      <td>56117548.0</td>
      <td>1.679776e+08</td>
    </tr>
    <tr>
      <th>703</th>
      <td>Turbo Kid (2015)</td>
      <td>93.0</td>
      <td>2015-08-28</td>
      <td>0.67</td>
      <td>21575.0</td>
      <td>68.5</td>
      <td>112.0</td>
      <td>190.0</td>
      <td>50000.0</td>
      <td>50000.0</td>
      <td>5.000000e+04</td>
    </tr>
    <tr>
      <th>641</th>
      <td>Deadpool (2016)</td>
      <td>108.0</td>
      <td>2016-02-12</td>
      <td>0.80</td>
      <td>717118.0</td>
      <td>65.0</td>
      <td>1269.0</td>
      <td>629.0</td>
      <td>135050000.0</td>
      <td>363070709.0</td>
      <td>7.831130e+08</td>
    </tr>
    <tr>
      <th>636</th>
      <td>Batman v Superman: Dawn of Justice (2016)</td>
      <td>151.0</td>
      <td>2016-03-25</td>
      <td>0.66</td>
      <td>529470.0</td>
      <td>68.5</td>
      <td>3372.0</td>
      <td>759.0</td>
      <td>166007347.0</td>
      <td>330360194.0</td>
      <td>8.732602e+08</td>
    </tr>
    <tr>
      <th>630</th>
      <td>Captain America: Civil War (2016)</td>
      <td>147.0</td>
      <td>2016-05-06</td>
      <td>0.78</td>
      <td>486986.0</td>
      <td>75.0</td>
      <td>1246.0</td>
      <td>623.0</td>
      <td>179139142.0</td>
      <td>408084349.0</td>
      <td>1.153304e+09</td>
    </tr>
    <tr>
      <th>626</th>
      <td>X-Men: Apocalypse (2016)</td>
      <td>144.0</td>
      <td>2016-05-27</td>
      <td>0.70</td>
      <td>316266.0</td>
      <td>68.5</td>
      <td>745.0</td>
      <td>459.0</td>
      <td>65000000.0</td>
      <td>155442489.0</td>
      <td>5.439348e+08</td>
    </tr>
    <tr>
      <th>623</th>
      <td>Teenage Mutant Ninja Turtles: Out of the Shado...</td>
      <td>112.0</td>
      <td>2016-06-03</td>
      <td>0.60</td>
      <td>69970.0</td>
      <td>68.5</td>
      <td>194.0</td>
      <td>230.0</td>
      <td>35316382.0</td>
      <td>82051601.0</td>
      <td>2.456238e+08</td>
    </tr>
    <tr>
      <th>615</th>
      <td>Batman: The Killing Joke (2016)</td>
      <td>76.0</td>
      <td>2016-07-25</td>
      <td>0.65</td>
      <td>38970.0</td>
      <td>68.5</td>
      <td>187.0</td>
      <td>122.0</td>
      <td>19828687.0</td>
      <td>3775000.0</td>
      <td>3.775000e+06</td>
    </tr>
    <tr>
      <th>609</th>
      <td>Suicide Squad (2016)</td>
      <td>123.0</td>
      <td>2016-08-05</td>
      <td>0.61</td>
      <td>474284.0</td>
      <td>68.5</td>
      <td>1901.0</td>
      <td>655.0</td>
      <td>133682248.0</td>
      <td>325100054.0</td>
      <td>7.456001e+08</td>
    </tr>
    <tr>
      <th>597</th>
      <td>Max Steel (2016)</td>
      <td>92.0</td>
      <td>2016-10-14</td>
      <td>0.46</td>
      <td>14955.0</td>
      <td>68.5</td>
      <td>70.0</td>
      <td>37.0</td>
      <td>2182216.0</td>
      <td>3818664.0</td>
      <td>6.272403e+06</td>
    </tr>
    <tr>
      <th>596</th>
      <td>Doctor Strange (2016)</td>
      <td>115.0</td>
      <td>2016-11-04</td>
      <td>0.75</td>
      <td>403056.0</td>
      <td>72.0</td>
      <td>750.0</td>
      <td>536.0</td>
      <td>85058311.0</td>
      <td>232641920.0</td>
      <td>6.777184e+08</td>
    </tr>
    <tr>
      <th>600</th>
      <td>Split (2016)</td>
      <td>117.0</td>
      <td>2017-01-20</td>
      <td>0.73</td>
      <td>260302.0</td>
      <td>62.0</td>
      <td>643.0</td>
      <td>515.0</td>
      <td>40010975.0</td>
      <td>138291365.0</td>
      <td>2.784544e+08</td>
    </tr>
    <tr>
      <th>578</th>
      <td>The LEGO Batman Movie (2017)</td>
      <td>104.0</td>
      <td>2017-02-10</td>
      <td>0.73</td>
      <td>98164.0</td>
      <td>75.0</td>
      <td>267.0</td>
      <td>379.0</td>
      <td>53003468.0</td>
      <td>175750384.0</td>
      <td>3.119504e+08</td>
    </tr>
    <tr>
      <th>576</th>
      <td>Logan (2017)</td>
      <td>137.0</td>
      <td>2017-03-03</td>
      <td>0.81</td>
      <td>472804.0</td>
      <td>77.0</td>
      <td>1270.0</td>
      <td>598.0</td>
      <td>88411916.0</td>
      <td>226277068.0</td>
      <td>6.190214e+08</td>
    </tr>
    <tr>
      <th>570</th>
      <td>Power Rangers (2017)</td>
      <td>124.0</td>
      <td>2017-03-24</td>
      <td>0.60</td>
      <td>80774.0</td>
      <td>68.5</td>
      <td>430.0</td>
      <td>279.0</td>
      <td>40300288.0</td>
      <td>85067486.0</td>
      <td>8.506749e+07</td>
    </tr>
    <tr>
      <th>571</th>
      <td>Ghost in the Shell (2017)</td>
      <td>107.0</td>
      <td>2017-03-31</td>
      <td>0.64</td>
      <td>150410.0</td>
      <td>68.5</td>
      <td>811.0</td>
      <td>419.0</td>
      <td>18676033.0</td>
      <td>40533014.0</td>
      <td>1.302467e+08</td>
    </tr>
    <tr>
      <th>566</th>
      <td>Guardians of the Galaxy Vol. 2 (2017)</td>
      <td>136.0</td>
      <td>2017-05-05</td>
      <td>0.77</td>
      <td>364510.0</td>
      <td>67.0</td>
      <td>832.0</td>
      <td>532.0</td>
      <td>146510104.0</td>
      <td>389813101.0</td>
      <td>8.637561e+08</td>
    </tr>
    <tr>
      <th>562</th>
      <td>Wonder Woman (2017)</td>
      <td>141.0</td>
      <td>2017-06-02</td>
      <td>0.75</td>
      <td>402928.0</td>
      <td>76.0</td>
      <td>1758.0</td>
      <td>642.0</td>
      <td>103251471.0</td>
      <td>412563408.0</td>
      <td>8.217634e+08</td>
    </tr>
    <tr>
      <th>559</th>
      <td>Captain Underpants: The First Epic Movie (2017)</td>
      <td>89.0</td>
      <td>2017-06-02</td>
      <td>0.62</td>
      <td>17827.0</td>
      <td>69.0</td>
      <td>91.0</td>
      <td>122.0</td>
      <td>23851539.0</td>
      <td>73921000.0</td>
      <td>7.392100e+07</td>
    </tr>
    <tr>
      <th>557</th>
      <td>Spider-Man: Homecoming (2017)</td>
      <td>133.0</td>
      <td>2017-07-07</td>
      <td>0.75</td>
      <td>306913.0</td>
      <td>73.0</td>
      <td>1009.0</td>
      <td>504.0</td>
      <td>117027503.0</td>
      <td>334201140.0</td>
      <td>8.801669e+08</td>
    </tr>
    <tr>
      <th>547</th>
      <td>The Lego Ninjago Movie (2017)</td>
      <td>101.0</td>
      <td>2017-09-22</td>
      <td>0.60</td>
      <td>12827.0</td>
      <td>68.5</td>
      <td>80.0</td>
      <td>119.0</td>
      <td>20433071.0</td>
      <td>59281555.0</td>
      <td>5.928156e+07</td>
    </tr>
    <tr>
      <th>544</th>
      <td>Thor: Ragnarok (2017)</td>
      <td>130.0</td>
      <td>2017-11-03</td>
      <td>0.79</td>
      <td>302235.0</td>
      <td>74.0</td>
      <td>1011.0</td>
      <td>458.0</td>
      <td>122744989.0</td>
      <td>315058289.0</td>
      <td>8.022336e+08</td>
    </tr>
    <tr>
      <th>542</th>
      <td>Justice League (2017)</td>
      <td>120.0</td>
      <td>2017-11-17</td>
      <td>0.67</td>
      <td>240600.0</td>
      <td>68.5</td>
      <td>1481.0</td>
      <td>432.0</td>
      <td>93842239.0</td>
      <td>229024295.0</td>
      <td>6.147297e+08</td>
    </tr>
    <tr>
      <th>529</th>
      <td>Padman (2018)</td>
      <td>140.0</td>
      <td>2018-02-09</td>
      <td>0.84</td>
      <td>5696.0</td>
      <td>68.5</td>
      <td>59.0</td>
      <td>33.0</td>
      <td>740326.0</td>
      <td>1662927.0</td>
      <td>1.662927e+06</td>
    </tr>
    <tr>
      <th>532</th>
      <td>Black Panther (2018)</td>
      <td>134.0</td>
      <td>2018-02-16</td>
      <td>0.77</td>
      <td>232341.0</td>
      <td>88.0</td>
      <td>1619.0</td>
      <td>531.0</td>
      <td>202003951.0</td>
      <td>681374736.0</td>
      <td>1.315167e+09</td>
    </tr>
  </tbody>
</table>
<p>206 rows × 11 columns</p>
</div>

In [26]:
movies_df_clean.to_csv(os.path.join('data','movies_final_clean'))

# TV Series Clean Up

In [128]:
tv_series_df = pd.read_csv(os.path.join('data','tv_series_final'))

In [129]:
tv_series_df.head(20)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Unnamed: 0.1</th>
      <th>Title</th>
      <th>Season</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>Adventures of Superman (TV Series 1952–1958)</td>
      <td>1</td>
      <td>… See all</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>2</td>
      <td>Adventures of Superman (TV Series 1952–1958)</td>
      <td>2</td>
      <td>1953</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>3</td>
      <td>Adventures of Superman (TV Series 1952–1958)</td>
      <td>3</td>
      <td>1954</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>4</td>
      <td>Adventures of Superman (TV Series 1952–1958)</td>
      <td>4</td>
      <td>1955</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>5</td>
      <td>Adventures of Superman (TV Series 1952–1958)</td>
      <td>5</td>
      <td>1956</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>6</td>
      <td>Adventures of Superman (TV Series 1952–1958)</td>
      <td>6</td>
      <td>1957</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>7</td>
      <td>Adventures of Superman (TV Series 1952–1958)</td>
      <td>7</td>
      <td>1958</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>8</td>
      <td>The Mighty Mouse Playhouse (TV Series 1955–1966)</td>
      <td>1</td>
      <td>1962</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>9</td>
      <td>Zorro (TV Series 1957–1959)</td>
      <td>1</td>
      <td>1957</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>10</td>
      <td>Zorro (TV Series 1957–1959)</td>
      <td>2</td>
      <td>1958</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>11</td>
      <td>Zorro (TV Series 1957–1959)</td>
      <td>3</td>
      <td>1959</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>12</td>
      <td>Zorro (TV Series 1957–1959)</td>
      <td>4</td>
      <td>1960</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>13</td>
      <td>The Invisible Man (TV Series 1958–1960)</td>
      <td>1</td>
      <td>1958</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>14</td>
      <td>The Invisible Man (TV Series 1958–1960)</td>
      <td>2</td>
      <td>1959</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>15</td>
      <td>National Kid (TV Series 1960– )</td>
      <td>1</td>
      <td>2006</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>16</td>
      <td>The Adventures of Superboy (TV Short 1961)</td>
      <td>1</td>
      <td>2010</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>17</td>
      <td>The Adventures of the Spirit (TV Mini-Series 1...</td>
      <td>1</td>
      <td>1963</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>18</td>
      <td>Underdog (TV Series 1964–1973)</td>
      <td>1</td>
      <td>1964</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>19</td>
      <td>Underdog (TV Series 1964–1973)</td>
      <td>2</td>
      <td>1965</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>20</td>
      <td>Underdog (TV Series 1964–1973)</td>
      <td>3</td>
      <td>1966</td>
    </tr>
  </tbody>
</table>
</div>

In [130]:
tv_series_df['Year'].unique()

array(['… See all', '1953', '1954', '1955', '1956', '1957', '1958',
       '1962', '1959', '1960', '2006', '2010', '1963', '1964', '1965',
       '1966', '1967', '2005', '1968', '1969', 'Unknown', '2016', '1970',
       '2015', '2009', '1984', '1985', '1986', '1987', '1988', '1989',
       '\n                                                            1989\xa0\xa0\n                                                            1988\xa0\xa0\n                                                            1987\xa0\xa0\n                                                            1986\xa0\xa0\n                                                            1985\xa0\xa0\n                                                            1984\xa0\xa0\n                                    … See all »\n            ',
       '1999', '1971', '1972', '2011', '1973', '2002', '1993', '1994',
       '1995', '1996', '1974', '1975', '1976', '1977', '1978', '2012',
       '\n                                                            2012\xa0\xa0\n                                                            1978\xa0\xa0\n                                                            1977\xa0\xa0\n                                                            1976\xa0\xa0\n                                                            1975\xa0\xa0\n                                                            1974\xa0\xa0\n                                    … See all »\n            ',
       '1979', '1980', '1981', '1983',
       '\n                                                            1985\xa0\xa0\n                                                            1984\xa0\xa0\n                                                            1983\xa0\xa0\n                                                            1981\xa0\xa0\n                                                            1980\xa0\xa0\n                                                            1979\xa0\xa0\n                                    … See all »\n            ',
       '2003', '1982', '1990', '1991',
       '\n                                                            1981\xa0\xa0\n                                                            1980\xa0\xa0\n            ',
       '6',
       '\n                                                                                         1990\xa0\xa0\n                                                            1989\xa0\xa0\n                                                            1987\xa0\xa0\n                                                            1986\xa0\xa0\n                                    … See all »\n            ',
       '1', '2', '1992',
       '\n                                                            1992\xa0\xa0\n                                                            1986\xa0\xa0\n                                                            1985\xa0\xa0\n                                                            1984\xa0\xa0\n                                                            1983\xa0\xa0\n                                                            1982\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            1987\xa0\xa0\n            ',
       '\n                                                            1991\xa0\xa0\n                                                            1990\xa0\xa0\n                                                            1989\xa0\xa0\n                                                            1988\xa0\xa0\n                                                            1987\xa0\xa0\n                                                            1986\xa0\xa0\n            ',
       '\n                                                            1996\xa0\xa0\n                                                            1995\xa0\xa0\n                                                            1994\xa0\xa0\n                                                            1993\xa0\xa0\n                                                            1992\xa0\xa0\n                                                            1991\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            1991\xa0\xa0\n                                                            1990\xa0\xa0\n                                                            1989\xa0\xa0\n                                                            1988\xa0\xa0\n                                                            1987\xa0\xa0\n                                                            1986\xa0\xa0\n                                    … See all »\n            ',
       '2001',
       '\n                                                            1990\xa0\xa0\n                                                            1989\xa0\xa0\n                                                            1988\xa0\xa0\n                                                            1987\xa0\xa0\n                                                            1986\xa0\xa0\n                                                            1985\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            1992\xa0\xa0\n                                                            1991\xa0\xa0\n            ',
       '1997', '1998', '2000',
       '\n                                                            1996\xa0\xa0\n                                                            1995\xa0\xa0\n                                                            1994\xa0\xa0\n                                                            1993\xa0\xa0\n            ',
       '2004', '2007', '2008',
       '\n                                                            2008\xa0\xa0\n                                                            2007\xa0\xa0\n                                                            2006\xa0\xa0\n                                                            2004\xa0\xa0\n                                                            2003\xa0\xa0\n                                                            2002\xa0\xa0\n                                    … See all »\n            ',
       '2013', '2014', '2017',
       '\n                                                            2017\xa0\xa0\n                                                            2016\xa0\xa0\n                                                            2015\xa0\xa0\n                                                            2014\xa0\xa0\n                                                            2013\xa0\xa0\n                                                            2012\xa0\xa0\n                                    … See all »\n            ',
       '2019', '2018',
       '\n                                                            2017\xa0\xa0\n                                                            2016\xa0\xa0\n                                                            2015\xa0\xa0\n                                                            2014\xa0\xa0\n                                                            2013\xa0\xa0\n            ',
       '\n                                                            2017\xa0\xa0\n                                                            2016\xa0\xa0\n                                                            2015\xa0\xa0\n                                                            2014\xa0\xa0\n                                                            2013\xa0\xa0\n                                                            2012\xa0\xa0\n            ',
       '\n                                                            2018\xa0\xa0\n                                                            2017\xa0\xa0\n                                                            2016\xa0\xa0\n            ',
       '\n                                                                                         2018\xa0\xa0\n                                                            2017\xa0\xa0\n                                                            2016\xa0\xa0\n                                                            2015\xa0\xa0\n                                    … See all »\n            ',
       '15',
       '\n                                                            2016\xa0\xa0\n                                                            2015\xa0\xa0\n                                                            2013\xa0\xa0\n                                                            2012\xa0\xa0\n                                                            2011\xa0\xa0\n                                                            2010\xa0\xa0\n            ',
       '\n                                                            2014\xa0\xa0\n                                                            2012\xa0\xa0\n                                                            2011\xa0\xa0\n                                                            2010\xa0\xa0\n                                                            2008\xa0\xa0\n                                                            2007\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            2015\xa0\xa0\n                                                            2014\xa0\xa0\n                                                            2013\xa0\xa0\n                                                            2012\xa0\xa0\n                                                            2011\xa0\xa0\n                                                            2010\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            2018\xa0\xa0\n                                                            2017\xa0\xa0\n                                                            2016\xa0\xa0\n                                                            2015\xa0\xa0\n                                                            2014\xa0\xa0\n                                                            2013\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            2013\xa0\xa0\n                                                            2012\xa0\xa0\n            ',
       '\n                                                            2016\xa0\xa0\n                                                            2015\xa0\xa0\n                                                            2014\xa0\xa0\n                                                            2013\xa0\xa0\n                                                            2012\xa0\xa0\n                                                            2011\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            2010\xa0\xa0\n            ',
       '\n                                                            2012\xa0\xa0\n                                                            2011\xa0\xa0\n                                                            2010\xa0\xa0\n            ',
       '\n                                                            2013\xa0\xa0\n                                                            2012\xa0\xa0\n                                                            2011\xa0\xa0\n                                                            2010\xa0\xa0\n                                                            2009\xa0\xa0\n                                                            2008\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                                                         2016\xa0\xa0\n                                                            2015\xa0\xa0\n                                                            2014\xa0\xa0\n                                                            2013\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            2007\xa0\xa0\n                                                            2006\xa0\xa0\n            ',
       '\n                                                                                         2015\xa0\xa0\n                                                            2012\xa0\xa0\n                                                            2009\xa0\xa0\n                                                            2008\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            2006\xa0\xa0\n                                                            2005\xa0\xa0\n                                                            2004\xa0\xa0\n            ',
       '\n                                                            2008\xa0\xa0\n                                                            2007\xa0\xa0\n                                                            2006\xa0\xa0\n                                                            2005\xa0\xa0\n                                                            2004\xa0\xa0\n            ',
       '\n                                                            2017\xa0\xa0\n                                                            2016\xa0\xa0\n                                                            2015\xa0\xa0\n                                                            2014\xa0\xa0\n                                                            2013\xa0\xa0\n                                                            2011\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            2006\xa0\xa0\n                                                            2005\xa0\xa0\n                                                            2004\xa0\xa0\n                                                            2003\xa0\xa0\n            ',
       '\n                                                            2008\xa0\xa0\n                                                            2006\xa0\xa0\n                                                            2005\xa0\xa0\n                                                            2004\xa0\xa0\n                                                            2003\xa0\xa0\n                                                            2002\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            2002\xa0\xa0\n                                                            2001\xa0\xa0\n            ',
       '\n                                                                                         2003\xa0\xa0\n                                                            2002\xa0\xa0\n                        Unknown\xa0\xa0\n            ',
       '\n                                                            2011\xa0\xa0\n                                                            2010\xa0\xa0\n                                                            2009\xa0\xa0\n                                                            2008\xa0\xa0\n                                                            2007\xa0\xa0\n                                                            2006\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                                                         2002\xa0\xa0\n                                                            2001\xa0\xa0\n                        Unknown\xa0\xa0\n            ',
       '\n                                                            2003\xa0\xa0\n                                                            2002\xa0\xa0\n                                                            2001\xa0\xa0\n                                                            2000\xa0\xa0\n                                                            1999\xa0\xa0\n                                                            1998\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            2002\xa0\xa0\n                                                            2000\xa0\xa0\n                                                            1999\xa0\xa0\n            ',
       '\n                                                                                         2001\xa0\xa0\n                                                            2000\xa0\xa0\n                                                            1999\xa0\xa0\n                                                            1998\xa0\xa0\n                        Unknown\xa0\xa0\n            ',
       '\n                                                                                         1999\xa0\xa0\n                                                            1998\xa0\xa0\n                                                            1997\xa0\xa0\n                                                            1996\xa0\xa0\n                                    … See all »\n            ',
       '3',
       '\n                                                            2007\xa0\xa0\n                                                            2006\xa0\xa0\n                                                            2005\xa0\xa0\n                                                            2004\xa0\xa0\n                                                            2003\xa0\xa0\n                                                            2002\xa0\xa0\n                                    … See all »\n            ',
       '\n                                                            2003\xa0\xa0\n                                                            2002\xa0\xa0\n                                                            2001\xa0\xa0\n                                                            1995\xa0\xa0\n            ',
       '\n                                                            2000\xa0\xa0\n                                                            1998\xa0\xa0\n                                                            1995\xa0\xa0\n            '],
      dtype=object)

In [144]:
tv_series_df['Year'] = tv_series_df['Year'].str.replace('\xa0','')
tv_series_df['Year'] = tv_series_df['Year'].str.replace(r'... See all .\n','')
tv_series_df['Year'] = tv_series_df['Year'].str.replace('Unknown','')
tv_series_df['Year'] = tv_series_df['Year'].str.replace(r'.* See all','')

In [145]:
tv_series_df['Year'].unique()

array(['', '1953', '1954', '1955', '1956', '1957', '1958', '1962', '1959',
       '1960', '2006', '2010', '1963', '1964', '1965', '1966', '1967',
       '2005', '1968', '1969', '2016', '1970', '2015', '2009', '1984',
       '1985', '1986', '1987', '1988', '1989',
       '\n                                                            1989\n                                                            1988\n                                                            1987\n                                                            1986\n                                                            1985\n                                                            1984\n                                              ',
       '1999', '1971', '1972', '2011', '1973', '2002', '1993', '1994',
       '1995', '1996', '1974', '1975', '1976', '1977', '1978', '2012',
       '\n                                                            2012\n                                                            1978\n                                                            1977\n                                                            1976\n                                                            1975\n                                                            1974\n                                              ',
       '1979', '1980', '1981', '1983',
       '\n                                                            1985\n                                                            1984\n                                                            1983\n                                                            1981\n                                                            1980\n                                                            1979\n                                              ',
       '2003', '1982', '1990', '1991',
       '\n                                                            1981\n                                                            1980\n            ',
       '6',
       '\n                                                                                         1990\n                                                            1989\n                                                            1987\n                                                            1986\n                                              ',
       '1', '2', '1992',
       '\n                                                            1992\n                                                            1986\n                                                            1985\n                                                            1984\n                                                            1983\n                                                            1982\n                                              ',
       '\n                                                            1987\n            ',
       '\n                                                            1991\n                                                            1990\n                                                            1989\n                                                            1988\n                                                            1987\n                                                            1986\n            ',
       '\n                                                            1996\n                                                            1995\n                                                            1994\n                                                            1993\n                                                            1992\n                                                            1991\n                                              ',
       '\n                                                            1991\n                                                            1990\n                                                            1989\n                                                            1988\n                                                            1987\n                                                            1986\n                                              ',
       '2001',
       '\n                                                            1990\n                                                            1989\n                                                            1988\n                                                            1987\n                                                            1986\n                                                            1985\n                                              ',
       '\n                                                            1992\n                                                            1991\n            ',
       '1997', '1998', '2000',
       '\n                                                            1996\n                                                            1995\n                                                            1994\n                                                            1993\n            ',
       '2004', '2007', '2008',
       '\n                                                            2008\n                                                            2007\n                                                            2006\n                                                            2004\n                                                            2003\n                                                            2002\n                                              ',
       '2013', '2014', '2017',
       '\n                                                            2017\n                                                            2016\n                                                            2015\n                                                            2014\n                                                            2013\n                                                            2012\n                                              ',
       '2019', '2018',
       '\n                                                            2017\n                                                            2016\n                                                            2015\n                                                            2014\n                                                            2013\n            ',
       '\n                                                            2017\n                                                            2016\n                                                            2015\n                                                            2014\n                                                            2013\n                                                            2012\n            ',
       '\n                                                            2018\n                                                            2017\n                                                            2016\n            ',
       '\n                                                                                         2018\n                                                            2017\n                                                            2016\n                                                            2015\n                                              ',
       '15',
       '\n                                                            2016\n                                                            2015\n                                                            2013\n                                                            2012\n                                                            2011\n                                                            2010\n            ',
       '\n                                                            2014\n                                                            2012\n                                                            2011\n                                                            2010\n                                                            2008\n                                                            2007\n                                              ',
       '\n                                                            2015\n                                                            2014\n                                                            2013\n                                                            2012\n                                                            2011\n                                                            2010\n                                              ',
       '\n                                                            2018\n                                                            2017\n                                                            2016\n                                                            2015\n                                                            2014\n                                                            2013\n                                              ',
       '\n                                                            2013\n                                                            2012\n            ',
       '\n                                                            2016\n                                                            2015\n                                                            2014\n                                                            2013\n                                                            2012\n                                                            2011\n                                              ',
       '\n                                                            2010\n            ',
       '\n                                                            2012\n                                                            2011\n                                                            2010\n            ',
       '\n                                                            2013\n                                                            2012\n                                                            2011\n                                                            2010\n                                                            2009\n                                                            2008\n                                              ',
       '\n                                                                                         2016\n                                                            2015\n                                                            2014\n                                                            2013\n                                              ',
       '\n                                                            2007\n                                                            2006\n            ',
       '\n                                                                                         2015\n                                                            2012\n                                                            2009\n                                                            2008\n                                              ',
       '\n                                                            2006\n                                                            2005\n                                                            2004\n            ',
       '\n                                                            2008\n                                                            2007\n                                                            2006\n                                                            2005\n                                                            2004\n            ',
       '\n                                                            2017\n                                                            2016\n                                                            2015\n                                                            2014\n                                                            2013\n                                                            2011\n                                              ',
       '\n                                                            2006\n                                                            2005\n                                                            2004\n                                                            2003\n            ',
       '\n                                                            2008\n                                                            2006\n                                                            2005\n                                                            2004\n                                                            2003\n                                                            2002\n                                              ',
       '\n                                                            2002\n                                                            2001\n            ',
       '\n                                                                                         2003\n                                                            2002\n                        \n            ',
       '\n                                                            2011\n                                                            2010\n                                                            2009\n                                                            2008\n                                                            2007\n                                                            2006\n                                              ',
       '\n                                                                                         2002\n                                                            2001\n                        \n            ',
       '\n                                                            2003\n                                                            2002\n                                                            2001\n                                                            2000\n                                                            1999\n                                                            1998\n                                              ',
       '\n                                                            2002\n                                                            2000\n                                                            1999\n            ',
       '\n                                                                                         2001\n                                                            2000\n                                                            1999\n                                                            1998\n                        \n            ',
       '\n                                                                                         1999\n                                                            1998\n                                                            1997\n                                                            1996\n                                              ',
       '3',
       '\n                                                            2007\n                                                            2006\n                                                            2005\n                                                            2004\n                                                            2003\n                                                            2002\n                                              ',
       '\n                                                            2003\n                                                            2002\n                                                            2001\n                                                            1995\n            ',
       '\n                                                            2000\n                                                            1998\n                                                            1995\n            '],
      dtype=object)

In [147]:
tv_series_df.to_csv(os.path.join('data','tv_series_final_first_clean'))